/* Mobile first approach */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html{
  font-size: 16px;
}

/* Target: Smartphones and small tablets */
@media screen and (min-width:0px) and (max-width: 767px){
  .banner-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 5.5rem;
    max-height: 100vh;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .get_ivory_app h6{
    font-size: 2.7rem;
    font-weight: 200;
  }

  .ivory{
    color: #1F1BF2;
    font-weight: 600;
  }

  .left p{
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 3rem;
  }
  
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .right img{
    height:50%;
    width: 50%;
    align-items: center;
    justify-content: center;
  }  

  .buttons{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .google-button{
    margin-bottom: 0.625rem;
  }

  .google-button img{
    width: 100%;
  }

  .apple-button img{
    width: 100%;
  }

  .button-text:hover{
    cursor: pointer;
  }

}


/* Target: Larger smartphones and small tablets */
@media screen and (min-width: 768px) and (max-width: 991px){
  .banner-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15rem;
    max-height: 100vh;
    margin-bottom: 2rem;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.5rem;
  }

  .get_ivory_app h6{
    font-size: 5rem;
    margin-top: 3rem;
    font-weight: 200;
  }

  .ivory{
    color: #1F1BF2;
    font-weight: 600;
  }

  .left p{
    font-size: 2.5rem;
    font-weight: 200;
    margin-top: 3rem;
  }
  
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }
  
  .right img{
    align-items: center;
    justify-content: center;
  }  

  .buttons{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    /* background-color: #f21bce; */
  }

  .download-button{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .google-button{
    margin-right: 3rem;
  }

  .google-button img{
    height: 5rem;
  }

  .apple-button img{
    height: 5rem;
    width: 100%;
  }

  .fa{
    margin-right: 0.625rem;
    font-size: 2.5rem;
  }

  .button-text:hover{
    cursor: pointer;
  }
}


/* Target: Bigger screens and Laptops */
@media screen and (min-width:992px){
  .banner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8.5rem;
    max-height: 80vh;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left p{
    font-size: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 4.5rem;
    font-weight: 100;
    text-align: center;
  }

  .get_ivory_app h6{
    font-size: 4rem;
    font-weight: 200;
  }

  .ivory{
    color: #1F1BF2;
    font-weight: 600;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 8rem;
  }

  .right img{
    width: 20rem;
  } 

  .buttons{
    display: flex;
  }
  
  .button-text:hover{
    cursor: pointer;
  }

  .google-button{
    margin: 0 1rem 0.625rem 0;
  }

  .google-button img{
    width: 12.5rem;
  }

  .apple-button img{
    width: 12.5rem;
  }
}