/* Mobile first approach */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html{
  font-size: 16px;
}

/* Target: Smartphones and small tablets */
@media screen and (min-width:0px) and (max-width: 767px){
  .banner-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    max-height: 100vh;
    margin-bottom: 5rem;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
  }

  .get_ivory_app h6{
    font-size: 2.2rem;
    font-weight: 100;
  }

  .ivory{
    color: #1F1BF2;
    font-weight: 600;
  }

  .banner-text{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    font-weight: 100;
  }
  
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 3rem;
  }
  
  .right img{
    height:50%;
    width: 50%;
    align-items: center;
    justify-content: center;
  }  

  .buttons{
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
  }

  .google-button{
    margin-bottom: 0.625rem;
  }

  /* .google-button a{
    background-color: #1F1BF2;
  } */
  .google-button img{
    width: 100%;
  }

  /* .apple-button a{
    background-color: #111;
  } */

  .apple-button img{
    width: 100%;
  }

  /* .fa{
    margin-right: 0.625rem;
    font-size: 1.5rem;
    color: #fff;
  } */

  .button-text:hover{
    text-decoration: underline;
  }

}


/* Target: Larger smartphones and small tablets */
@media screen and (min-width: 768px) and (max-width: 991px){
  .banner-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3rem;
    min-height: 100vh;
    margin-bottom: 2rem;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.25rem;
  }

  .get_ivory_app h6{
    font-size: 3.2rem;
    margin-top: 3rem;
    font-weight: 100;
  }

  .ivory{
    color: #1F1BF2;
    font-weight: 600;
  }

  .banner-text{
    text-align: center;
    font-size: 4.5rem;
    margin-top: 1.2rem;
    font-weight: 100;
    /* color: #444; */
  }

  /* .left a{
    display: inline-block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    border-radius: 0.625rem;
  } */
  
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }
  
  .right img{
    height:50%;
    width: 50%;
    align-items: center;
    justify-content: center;
  }  

  .buttons{
    display: flex;
    flex-direction: row;
  }

  .download-button{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .google-button{
    margin: 0 1rem 0.625rem 0;
  }

  /* .google-button a{
    background-color: #1F1BF2;
  } */

  .google-button img{
    width: 100%;
  }

  /* .apple-button a{
    background-color: #111;
  } */

  .apple-button img{
    width: 100%;
  }

  .fa{
    margin-right: 0.625rem;
    font-size: 2.5rem;
  }
}


/* Target: Bigger screens and Laptops */
@media screen and (min-width:992px){
  .banner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8.5rem;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .get_ivory_app h6{
    font-size: 4rem;
    font-weight: 100;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 8rem;
  }

  .right img{
    width: 20rem;
  } 

  }
  
  .ivory{
    color: #1F1BF2;
    font-weight: 600;
  }

  .banner-text{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4.5rem;
    margin-top: 2.5rem;
    font-weight: 100;
  }

  /* .left a{
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #1F1BF2; 
    border-radius: 8px;
  } */

  .buttons{
    display: flex;
  }
  
  .button-text:hover{
    text-decoration: underline;
  }

  .google-button{
    margin: 0 1rem 0.625rem 0;
  }

  /* .google-button a{
    background-color: #1F1BF2;
  } */

  .google-button img{
    width: 12.5rem;
  }

  /* .apple-button a{
    background-color: #111;
  } */

  .apple-button img{
    width: 12.5rem;
  }

  /* .fa{
    margin-right: 0.625rem;
    font-size: 1.5rem;
  } */